<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelors of Science (B.S.), Computer Science and Engineering</h1>
            <span>The Ohio State Unversity</span>
            <span><address>Columbus, OH</address><time>2011 to 2013</time></span>
        </header>
        <p>
            <em>Activites and Societies: Vice Presidence of the Latter-day Saint Student Assoication, Research Assistant, Undergraduate Researcher</em>
        </p>
    </article>
</section>
