<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer and QA Developer - One Exchange @ Willis Towers Watson</h1>
            <span><address>Salt Lake City, UT</address><time>May 2016 to Present</time></span>
        </header>
		<p>Built Web applications using React, Redux, Babel, Webpack, FubuMVC, ASP.NET and .Net Core 2.0</p>
		<p>Test driven development with Mocha, Chai, Jest, NUnit and xUnit</p>
		<p>Built load test suites using C# and Visual Studio</p>
		<p>Built web browser automation for functional test cases using C#, .NET, NUnit/xUnit and Selenium WebDriver</p>
		<p>Built Continuous Integration using Paket, Cake, Team City and Artifactory</p>
		<p>Built logging integration into Sumologic </p>
		<p>Built Cake Addins to assist in automation of QA testing</p>
		<p>Experience using Selenium Grid to run multiple functional tests in parallel</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer - ECM (Enterprise Content Management) @ IBM</h1>
            <span><address>Salt Lake City, UT</address><time>February 2014 to May 2015</time></span>
        </header>
		<p>Designed and developed new features for Java EE application used for non-functional and performance analysis of IBM ECM products</p>
	  	<p>Designed and developed software using IBM Content Navigator plugins with JavaScript/Dojo/Java</p>
	  	<p>System administrator on hardware that ran in-house reporting software</p>
      	<p>Automated non-functional and performance test cases for multiple IBM ECM applications</p>
		<p>Ran analysis on non-functional and performance test cases to pin-point performance bottlenecks in IBM ECM software using Python, Java Programming Language and Rational Performance Tester</p>
      	<p>Built Automation of Applications and Middleware using IBM UrbanCode Deploy</p>
		<p>Built Automation for Non-functional Software Testing using IBM UrbanCode Deploy</p>
		<p>Built Continuous Integration Pipeline using Jenkins, IBM UrbanCode Deploy, Java, Python and Artifactory</p>
		<p>Built Pipeline as code for Jenkins Continuous Integration using Groovy</p>
		<p>Experience using Middleware IBM WebSphere, IBM WebSphere Liberty and Oracle WebLogic</p>
		<p>Experience using IBM DB2, MSSQL and Oracle 12g databases</p>
		<p>Experience using Windows, OSX and Linux operating systems</p>
	</article>
    <article>
        <header>
            <h1>Research Assistant @ The Ohio State University</h1>
            <span><address>Columbus, OH</address><time>April 2013 to August 2013</time></span>
        </header>
        <p>Designed, developed, tested and maintained meaningful game software using the Microsoft Kinect, XNA, C# and .NET that assisted the rehabilitation of stroke patients</p>
        <p>Implemented multiple components for game software that utilized experience for stroke patients</p>
        <p>Implemented multiple components that utilized physical therapist efficiency in assisting the patient in stroke rehabilitation</p>
        <p>Manually tested multiple game mechanics and features</p>
        <p>Assisted research advisor and graduate students in the development of newly developing computer graphics techniques</p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Researcher @ The Ohio State University</h1>
            <span><address>Columbus, OH</address><time>September 2010 to August 2013</time></span>
        </header>
        <p>Designed, developed, test and maintained computer graphics software for the study of procedural modeling using C/C++</p>
        <p>Designed and developed methods using Python and relevant libraries to further study of procedural modeling</p>
        <p>Developed using the Waf build system utilizing the Linux environment</p>
        <p>Utilized computer graphics methods and tools to further the study procedural modeling</p>
        <p>Gained experience working with graduate students and department faculty in developing meaningful software</p>
        <p>Research featured in the Denman 2012 Research Forum Highlights at The Ohio State University</p>
    </article>
</section>
