<section class="thirteen columns">
    <h1>Summary</h1>
    <article>
		<p>A passionate and talented software developer with knowledge of software engineering techniques, programming language theory and computational problem solving. Skilled team leader with over four years of software engineering experience and valuable technical knowledge used in the development of meaningful software.<br><br>

		Github Profile: https://github.com/n7down<br><br>

		Programming Languages: C/C++, C#, Python, SQL, Groovy, JavaScript, HTML, Go and Java.<br><br>

		Frameworks: SciPy, NumPy, OpenCV, OpenGL, LibGDX, XNA, .NET Framework, .NET Core 2.0, .Net Standard 2.0, Dojo, Selenium WebDriver, Bootstrap, AngularJS, NodeJS, Express, Spring Framework, React, Redux, ASP.NET, DLib, Jest, Mocha, Chai and JQuery.<br><br>

		Databases: DB2, Oracle 12g, MSSQL, PostgreSQL and Mongo.<br><br>

		Technologies: Docker, GitHub, GitLab, Artifactory, IBM WebSphere, IBM WebSphere Liberty, Oracle WebLogic, Tomcat, Nginx, Elastic Search, Logstash, Kibana, Webpack, Babel, Rational Performance Tester, Eclipse, Visual Studio, Atom, ReSharper, Unity3D, Godot, Paket, Cake, Team City, Sumologic and Jenkins.
        </p>
    </article>
</section>
