<section class="thirteen columns">
    <h1>Training</h1>
    <article>
        <header>
            <h1>Automated Web Testing with Selenium</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Creating Your First Spring Boot Application</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>AngularJS: Getting Started</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Getting Started with Elasticsearch for .NET Developers</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Scrum Boot Camp</h1>
            <span><authority>Construx Software</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Full Stack Web Development Certification</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>React and Flux for Angular Developers</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
    <article>
        <header>
            <h1>React.js: Getting Started</h1>
            <span><authority>Pluralsight</authority></span>
        </header>
    </article>
</section>
